@font-face {
    font-family: laleh;
    src: url(./../font/Lalezar.ttf);
}

*{
    font-family: laleh;
}

form{
    background-color: rgb(53, 153, 53);
    width: 450px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
    margin-left: 450px;
    margin-top: 50px;
    font-size: 25px; 
    
    
}
form input{
    background-color: rgb(158, 211, 158);
    border: none;
    border-radius: 30px;
    padding: 10px;
}

form button{
    font-size: 25px;
    background-color: red;
    border-radius: 25px;
    border: none;
}
button:hover{
    font-size: 30px;
    transition: 2s;
    background-color: blue;
    cursor: pointer;
}
.KIR{
    text-decoration: none;
    background-color: green;
    color: aliceblue;
    border-radius: 25px;
    padding: 20px;
}

.CF{
    height: 450px;
    display: flex;
}
.right, .left{
    width: 50%;
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SA{
    font-size: 45px;
}

.AS{
    font-size: 46px;
}

.GT{
    text-decoration: none;
    background-position: center;
    color: black;
    padding: 10px;
    display: inline-block;
}

.FI{
    color: aliceblue;
    display: flexbox;
}
.FI img{
    width: 5px;
    height: 5px;
}
.left img{
    width: 100%;
    height: auto;
}
.KOR{  text-decoration: none;
    
    color: green;
    border: solid;
    border-radius: 25px;
    padding: 20px;
    margin-right: 20px;
}
.STR{
    margin-top: 20px;
}

.SRT{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: black;
}
.OL{
    width: 20px;
    height: 20px;
    /* text-align: center; */
    margin: 60px;
}
.US{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.US021{
    border-radius: 25px;
    display: flexbox;
    text-align: center;

}
.VPN{
    font-size: 30px;
    transition: 1s;
    background-color: #21AA58;
    cursor: pointer;
    border-radius: 25px;
    
}

.US021 img{
    border-radius: 20px;
    width: 1200px;
    height: 500px;
}
.WSD{
    height: 450px;
    display: flex;
    display: inline;
}
.right, .left{
    width: 50%;
}
.right{
    width: 100%;
    height: 100%;
}

.right img{
    width: 100px;
    height: 100px;
}
.MNB{
    text-align: center;
}
.products {
    width: 90%;
    margin: 50px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
    
}
.product1{
    background-color: #21AA58;
    border-radius: 10px;
}
.product2{
    background-color: #21AA58;
    border-radius: 10px;
}

.product3{
    background-color: #21AA58;
    border-radius: 10px;
}
.product4{
     background-color: #21AA58;
    border-radius: 10px;
}
.product5{
     background-color: #21AA58;
    border-radius: 10px;
}
.product6{
     background-color: #21AA58;
    border-radius: 10px;
    
}
.product7{
     background-color: #21AA58;
    border-radius: 10px;
    
}
.product8{
     background-color: #21AA58;
    border-radius: 10px;
    
}.product9{
     background-color: #21AA58;
    border-radius: 10px;
    
}
.SU021{
       border-radius: 25px;
    display: flexbox;
    text-align: center;
    
}
.features {
    width: 90%;
    margin: 50px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 100px;

    direction: rtl;
}

.feature {
    text-align: center;
    padding: 20px;
}

.feature img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.feature h2 {
    font-size: 22px;
    margin: 15px 0;
}

.feature p {
    font-size: 16px;
    line-height: 2;
}
/* .Option{
    width: 600px;
    height: 500px;
    background-color: red;
    display: flex;
    text-align: center;
} */